@import './variables';

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  font-family: $font;
  // line-height: 1;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  white-space: nowrap;
  &--primary {
    font-weight: 700;
    background-color: $primary-color;
    color: white;
  }
  &--outline {
    background-color: transparent;
    color: $primary-color;
    font-weight: 500;
    border: 1px solid;
  }
  &--rounded {
    border-radius: 10px;
    padding: 17px 65px;
  }
}
body {
  font-family: $font;
}
