@import '../../styles/_variables.scss';

.header {
  padding-top: 50px;
  padding-bottom: 88px;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 0 40px;
    // &-item + menu-item {
    //   margin-left: 40px;
    // }
    /// line-height / font-size

    &-link {
      color: $text-color;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &-auth {
    display: flex;
    align-items: center;
    gap: 0 30px;
    .signin {
      font-weight: 500;
      font-size: 16px;
    }
    .signup:hover {
      background-color: $primary-color;
      color: white;
      transition: ease 0.8s;
    }
  }
}
